<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="nav">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand p-1 mr-5">GradeCalculator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#thenavbarDefault" aria-controls="thenavbarDefault"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
    <br>
</div>


</body>

</html>
