<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">Grade Calculator <i class="fa fa-calculator"></i></a>
            <button aria-controls="thenavbarDefault" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-target="#thenavbarDefault"
                    data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <br>
</div>
</body>
</html>
